<div class="container-fluid row  p2">

    <div class="col6 card bg-white">
        <form method="POST" class="row" action="/">
            <div class="col8">
                <input type="text" required name="name" placeholder="Name API" />
            </div>
            <div class="col4">
                <input type="text" required name="version" placeholder="Version" />
            </div>

            <input type="text" required name="description" placeholder="Description" />

            <button type="submit" class="btn bg-blue text-light">Save</button>
        </form>
    </div>

</div>
