
/* APP */

body{
  padding-left: 250px;
}
.navbar{
  width: 100%;
  height: 60px;
  vertical-align: middle;
  line-height: 60px;
  box-sizing: 0px 0px 6px rgba(0,0,0,.1);
  position: absolute;
  top:0;
  left:0;
  z-index: 9999;
  box-sizing: border-box;
}
.navbar a{
  display: inline-block;
  line-height: 40px;
  height: 40px;
  margin-top:10px;
  margin-bottom:10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  float: right;
  text-transform:capitalize;
  border-radius: 4px;
  transition: all .2s linear;
  margin-left: 10px;

}

.navbar a:hover{
  background-color: rgba(255, 255, 255, .4);

  transform: scale(1.1);
}
.navbar .fa-bars{
  display: none;
  padding-right: 10px;
}
.navbar .title-app{
  display: none;
  font-size: 25px;
  font-weight: bold;
}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  top:0;
  left: 0;
  transition: all .3s linear;
  transform: translate3d(0px,0,0);
  z-index: 999999;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, .3);

}
.sidebar .fa-close {
  position: absolute;
  right:10px;
  top:10px;
  padding:5px;
  display: none;

}
.sidebar .header{
  width: 100%;
  height: 60px;
  vertical-align: middle;
  line-height: 60px;
  box-sizing: 0px 0px 6px rgba(0,0,0,.1);
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: bold;
  
}

.overlay{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 999998;
  transition: all .3s linear;
  display: none;

}
body.menu-open .overlay{
  transition: all .3s linear;
  display: block;

}
body.menu-open .sidebar{
  transition: all .3s linear;
  transform: translate3d(0px,0,0);

}
/* HOME */
body.home .overlay,
body.home .sidebar{
  display: none;

}
body.home{
  padding-left: 0px;
}
body.home .title-app{
  display: inline-block;
}
body.home .navbar{
  background-color: rgba(255,255,255,.1);
  box-shadow: none;
  color:rgba(255, 255, 255, 1);
}
.hero{
  width: 100%;
  min-height: 600px;
  background: rgb(244, 244, 244) url("/images/bg-home.png") bottom center no-repeat;
  background-size: cover;
  position: relative;
  padding-top:180px;
  color:rgba(255, 255, 255, 1);
}
.hero h1.nice-title{
  margin-bottom: 15px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
}

.hero strong{
  color:rgba(255, 255, 255, .8);
  line-height: 25px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
  font-weight: 200;
}
.hero .overlay-hero{
  position: absolute;
  width: 100%;
  min-height: 300px;
  top:0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0);
  display: none;
}
.features-home{
  font-size: 20px;
  line-height: 25px;
  color:rgba(0, 0, 0, .8);
}
.features-home strong{
  font-weight: bold;

}
.features-home span{
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color:rgba(0, 0, 0, .6);
}
.features-home  i{
  display: block;
  font-size: 80px;

  margin-bottom: 20px;

}
.register-now{
  margin-top: 0px;
  padding-top:230px;
  padding-bottom: 50px;
  text-shadow: 1px 1px 1px rgba(255,255,255, .5);
  background: rgba(0,0,0,.1) url("/images/cloud.png") center top no-repeat;

  background-size:contain;
}
.register-now h1{
  font-size: 30px;
  padding-bottom: 30px;
  font-weight: 600;

}
.register-now h2{
  font-size: 30px;
  padding-bottom: 30px;
  font-weight: 600;


}
.register-now span{
  line-height: 26px;
  font-weight: 400;

  margin-bottom: 50px;
  display: block;
}
.register-now .btn{
  margin:auto;
  padding-left: 30px;
  padding-right: 30px;

}
.footer{
  padding-top: 60px;
  padding-bottom: 60px;

}
.footer .social a{
  font-size: 40px;
  padding:10px;
  width: 100px;
  margin:10px;
  border-radius: 3px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all .2s linear;

}
.footer .social a:hover{
  transform: scale(.9);
  transition: all .2s linear;
}
.footer .social a:active{
  transform: scale(.7);
  transition: all .2s linear;
}
@media all and (max-width:1000px)
{
  .sidebar .fa-close{
    display: block;
  }
  .navbar .fa-bars{
    display: inline-block;
  }
  body{
    padding-left: 0px;
  }
  .sidebar{
    transform: translate3d(-270px,0,0);

  }
  .navbar .title-app{
    display: inline-block;
  }
  body.home .navbar .fa-bars{
    display: none;
  }

  .hero{
    padding-top:80px;
  }

}
