/* Colors */
:root {
  --main-white: rgb(255, 255, 255);
  --main-light: rgb(255, 255, 255);
  --main-light-dark: rgba(255, 255, 255,.7);
  --main-gray: rgb(233, 233, 233);
  --main-yellow: rgb(224, 221, 76);
  --main-blue-dark: rgba(0, 101, 152, 1);
  --main-blue: rgba(0, 128, 193,1);
  --main-blue-light: rgba(0, 128, 193,.6);
  --main-red: rgb(230, 78, 78);
  --main-dark: rgb(31, 31, 31);
  --main-dark-light: rgba(0, 0, 0,.7);
  --main-orange: rgb(224, 138, 22);
  --main-green: #4CAF50;
}


/* Reset */
*, *:before, *:after {
    position: relative;
    font: inherit;
    line-height: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: 0;
    border-radius: 0px;
    box-shadow: none;
    border:0px;
    text-decoration: none;
}
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:rgba(0, 0, 0, .8);


}
body.panel{
  padding-top: 60px;
}
body.panel #main{
  height: 100%;
  overflow: auto;
  padding:10px;
}
/* Backgrounds */
.bg-white{ background-color: var(--main-white) }
.bg-light{ background-color: var(--main-light) }
.bg-gray{ background-color: var(--main-gray) }
.bg-yellow{ background-color: var(--main-yellow) }
.bg-blue{ background-color: var(--main-blue) }
.bg-blue-dark{ background-color: var(--main-blue-dark) }
.bg-red{ background-color: var(--main-red) }
.bg-dark{ background-color: var(--main-dark) }
.bg-dark-light{ background-color: var(--main-dark-light) }
.bg-orange{ background-color: var(--main-orange) }
.bg-green{ background-color: var(--main-green) }

/* Gradients */

.bgg-blue{
  background: var(--main-blue);
  background: -moz-linear-gradient(top, var(--main-blue-dark) 50%, var(--main-blue) 100%);
  background: -webkit-linear-gradient(top, var(--main-blue-dark) 50%, var(--main-blue) 100%);
  background: -o-linear-gradient(top, var(--main-blue-dark) 50%, var(--main-blue) 100%);
  background: -ms-linear-gradient(top, var(--main-blue-dark) 50%, var(--main-blue) 100%);
  background: linear-gradient(to bottom, var(--main-blue-dark) 50%, var(--main-blue) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--main-blue-dark)', endColorstr='var(--main-blue)', GradientType=0 );
}


/* Texts */
.text-light-dark{color:var(--main-light-dark); }
.text-light{color:var(--main-light); }
.text-dark{color:var(--main-dark); }
.text-dark-light{color:var(--main-dark-light); }
.text-red{color:var(--main-red); }
.text-orange{color:var(--main-orange); }
.text-blue{color:var(--main-blue); }
.text-yellow{color:var(--main-yellow); }

.text-bold,.text-strong{font-weight: bold !important;}
.text-underline{text-decoration: underline;;}
.text-overline{text-decoration:overline;}
.truncate,.text-truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Box Shadown */
.box-ishadow{ box-shadow:inset 0px 0px 16px rgba(0, 0, 0, .3);}
.box-shadow{ box-shadow:0px 0px 16px rgba(0, 0, 0, .5);}
.box-left-ishadow{ box-shadow:inset -10px 0px 10px rgba(0, 0, 0, .1);}
.box-right-ishadow{ box-shadow:inset 10px 0px 10px rgba(0, 0, 0, .1);}


/* Borders */
.border-bottom{ border-bottom: 2px solid #000}
.border-top{ border-top: 2px solid #000}
.border-left{ border-left: 2px solid #000}
.border-right{ border-right: 2px solid #000}
.border-white{ border-color: var(--main-white); }
.border-light{ border-color: var(--main-light); }
.border-gray{ border-color: var(--main-gray); }
.border-yellow{ border-color: var(--main-yellow); }
.border-blue{ border-color: var(--main-blue); }
.border-red{ border-color: var(--main-red); }
.border-dark{ border-color: var(--main-dark); }
.border-dark-light{ border-color: var(--main-dark-light); }
.border-orange{ border-color: var(--main-orange); }

.cursor-pointer{
  cursor: pointer;
  user-select: none;
}



/* Grids */
.vertical-align {
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}
.row {
   padding: 0;
   margin: 0;
}
.row,
.row:after {
   clear: both;
   zoom: 1;
}
.row:before,
.row:after {
   content: '';
   display: table;
}
.row > div {
   float: left;
}
.row > .col1 {
   width: 8.33%;
}
.row > .col2 {
   width: 16.66666%;
}
.row > .col3 {
   width: 24.99%;
}
.row > .col4 {
   width: 33.33%;
}
.row > .col5 {
   width: 33.33%;
}
.row > .col6 {
   width: 50%;
}
.row > .col7 {
   width: 58.333%;
}
.row > .col8 {
   width: 66.66666664%;
}
.row > .col9 {
   width: 74.999997%;
}
.row > .col10 {
   width: 83.33%;
}
.row > .col11 {
   width: 91.666663%;
}
.row > .col12 {
   width: 100%;
}
.container {
   width: 80%;
   max-width: 1200px;
   margin: 0 auto;
}
.container-fluid{
  width: 100%;
  margin: 0 auto;
}
/* MODALS */
.modal{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 999999;
}
.modal-dialog .modal-content{
  height: 100%;
}
.modal-dialog{
  width: 600px;
  height: 300px;
  background-color: rgba(255, 255, 255,1);
  border-radius: 4px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
  position: fixed;
  left: 50%;
  top:50%;
  margin-left: -300px;
  margin-top: -150px;
}
.modal-dialog .modal-header{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 50px;
  width:100%;
  line-height: 50px;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}
.modal-dialog .modal-header .modal-title{
  padding-right: 30px;
  display: block;
  white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.modal-dialog .modal-header button.close{
  background-color: transparent;
  position: absolute;
  width: 50px;
  height: 50px;
  border:0px;
  font-size: 20px;
  cursor:pointer;
  right: 0;
  top:0;
}
.modal-dialog .modal-header button.close:hover{
  opacity: .7;
}
.modal-dialog .modal-body{
  padding:10px;
}

.modal-dialog .modal-footer{
  position: absolute;
  bottom:0;
  left:0;
  height: 50px;
  width: 100%;
  vertical-align: middle;
  line-height: 50px;
  border-top: 1px solid rgba(0, 0, 0, .05);
}
.modal-dialog .modal-footer button{
  background-color: transparent;
  display:inline-block;
  float: right;
  border:0px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}
.modal-dialog .modal-footer button:hover{
  background-color: rgba(0, 0, 0, .1);
}

/* Login Modal Dialog */
.modal-dialog.register .modal-body,
.modal-dialog.login .modal-body{
  padding:0px;
}
.modal-dialog .modal-body .col6{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 100%;
  padding:15px;

}
.modal-dialog .modal-body .col6:last-child{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


form [type="text"],
form [type="password"]{
  width: 100%;
  font-size: 16px;
  padding:5px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  margin-bottom: 15px;
  margin-top: 15px;
  border:0px;
  background-color: transparent;
  border-bottom:1px solid rgba(0, 0, 0, .1);
}
form [type="text"]:focus,
form [type="password"]:focus,
form [type="text"]:active,
form [type="password"]:active{
  border-bottom:1px solid rgba(0, 0, 0, .3);
}
form [type="text"]:disabled,
form [type="password"]:disabled,
form [type="text"]:read-only,
form [type="password"]:read-only,
form button[type='submit']:disabled{
  opacity: .5;
  cursor: not-allowed;
}
form button[type='submit']{
  width: 100%;
  padding:10px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
  user-select: none;

}
form button[type='submit']:hover{
  opacity: .7;
}
form .checkbox{
  margin-top: 10px;
  margin-bottom: 10px;
  user-select: none;
}
form  .checkbox [type="checkbox"]:checked,
form  .checkbox [type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}
form  .checkbox [type="checkbox"]:checked + label,
form  .checkbox [type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
form  .checkbox [type="checkbox"]:checked + label:before,
form  .checkbox [type="checkbox"]:not(:checked) + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 2px;
}
form  .checkbox [type="checkbox"]:checked + label:after,
form  .checkbox [type="checkbox"]:not(:checked) + label:after
{
    content: '';
    width: 8px;
    height: 8px;
    background: var(--main-blue);
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 1px;
}
form  .checkbox [type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
form  .checkbox [type="checkbox"]:checked + label:after
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
form  .checkbox [type="checkbox"]:active + label:after
{
    opacity: 1;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

form  .checkbox [type="checkbox"]:disabled:checked + label:before,
form  .checkbox [type="checkbox"]:disabled:not(:checked) + label:before
{
    border-color: #ccc;
    background-color: #eee;
}
form  .checkbox [type="checkbox"]:disabled:checked + label:after
{
    background: #aaa;
}





.modal-dialog .modal-body .col6 h1{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;

}
.modal-dialog .modal-body .col6 strong{
  font-weight: 200;
}
.modal-dialog .modal-body .col6 .subtitle{
  padding-bottom: 20px;
  padding-top: 20px;
  display: block;
  color:rgba(255, 255,255, 0.8);
}
.modal-dialog .modal-body .col6 .feature{
  margin-top: 20px;
  font-weight: 200;
  color:rgba(255, 255,255, 0.8);
  font-size: 14px;

}
.modal-dialog .modal-body .col6 .feature i{
  width: 22px;
  transition: all .2s linear;
}
.modal-dialog .modal-body form{
  width: 100%;
}
.modal-dialog .modal-body .col6 .feature:hover i{
  transform: scale(1.6);
  transition: all .2s linear;
}
form .link{
  text-align: center;
  display: block;
  padding-top:5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom:5px;
}
.onhover-text-bold:hover{
  font-weight: bold;
}
.text-small{
  font-size: 12px;
}
.nice-title{
  font-size:30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 5px solid black;
  border-image: linear-gradient(to right, rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 40%); /* to top - at 50% transparent */
  border-image-slice: 1;

}
.btn{
  padding:10px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  width: auto;
  display: table;
  cursor: pointer;
  transition: all .2s ease;
  user-select: none;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.btn:hover{
  transition: all .2s ease;
  box-shadow: 1px 1px 6px rgba(0,0,0,.3);
}
.btn:active{
  transition: all .2s ease;
  transform: scale(.9);
}

.text-center{
  text-align: center;
}
.pt2{
  padding-top: 20px;
}
#toastNoty{
  position: fixed;
  width: 280px;
  height: 100%;;
  right: 10px;
  top:0;
  z-index: 9999999;
  pointer-events: none;
}
#toastNoty div{
  width: 280px;
  padding:13px;
  border-radius: 3px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #000;
  color: #FFF;
  border:2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all .2s ease;
  display: block;
  pointer-events: all;


}
#toastNoty div:hover{
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0);
  transition: all .2s linear;
}
#toastNoty div.success{background-color: #4CAF50}
#toastNoty div.info{background-color: #0080C1}
#toastNoty div.warning{background-color:rgb(224, 138, 22)}
#toastNoty div.error{background-color: rgb(230, 78, 78)}




.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  top:0;
  left: 0;
  transition: all .3s linear;
  transform: translate3d(0px,0,0);
  z-index: 999999;
  overflow-x: auto;



}
.sidebar .fa-close {
  position: absolute;
  right:10px;
  top:10px;
  padding:5px;
  display: none;

}
.sidebar .header{
  width: 100%;
  height: 60px;
  vertical-align: middle;
  line-height: 60px;
  box-sizing: 0px 0px 6px rgba(0,0,0,.1);
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  text-transform: uppercase;

  letter-spacing: 6px;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: normal;

}
.sidebar ul{
  padding:0px;
  margin:0px;
  list-style: none;
  display: block;
}
.sidebar ul li a{
  display: block;
  padding:20px;
  padding-top: 15px;
  padding-bottom: 15px;

}
.sidebar ul li.title{
  display: block;
padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: .5;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.sidebar ul li i{
  width: 30px;
  text-align: left;
}
.sidebar ul li i:nth-child(2){
  position: absolute;
  right:5px;
  top:20px;
  font-size: 12px;
  opacity: .7;
}
.sidebar ul li.title i{
  width: 35px;
}
.overlay{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 999998;
  transition: all .3s linear;
  display: none;

}


body{
  padding-left: 250px;
}
.navbar{
  width: 100%;
  height: 60px;
  vertical-align: middle;
  line-height: 60px;
  box-sizing: 0px 0px 6px rgba(0,0,0,.1);
  position: absolute;
  top:0;
  left:0;
  z-index: 9999;
  box-sizing: border-box;
}
.navbar a{
  display: inline-block;
  line-height: 40px;
  height: 40px;
  margin-top:10px;
  margin-bottom:10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  float: right;
  text-transform:capitalize;
  border-radius: 4px;
  transition: all .2s linear;
  margin-left: 10px;

}

.navbar a:hover{
  background-color: rgba(255, 255, 255, .4);


}

.navbar .fa-bars{
  display: none;
  padding-right: 10px;
}
.navbar .title-app{

  font-size: 25px;

}

.navbar a.profile{
    display: block;
    font-size: 12px;
    line-height: 18px;
    padding-left: 50px;

}
.navbar a.profile img{
  position: absolute;
  left:0;
  height: 40px;
  top:0px;
  border-radius: 3px;
}
.navbar a.profile strong{
  display: block;
  width: 100%;
  font-weight: bold;
}
.navbar a.profile .email{
  text-transform: lowercase;
  color:var(--main-dark-light);
}

body.menu-open .overlay{
  transition: all .3s linear;
  display: block;

}
body.menu-open .sidebar{
  transition: all .3s linear;
  transform: translate3d(0px,0,0);

}
.navbar{
  padding-left: 260px;

}
.hide{
  display: none !important;
}
.btn-float{
  vertical-align: middle;
  line-height: 60px;
  height: 60px;
  width: 60px;
  display: block;
  position: fixed;
  bottom:10px;
  right:10px;
  font-size: 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .3);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease;
  user-select: none;
}
.btn-float:active{
  transition: all .3s ease;
  transform: scale(0.7);
}
.btn-float i{
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  height: 60px;
  width: 60px;
}

/* Padding */
.p1{ padding:10px !important;}
.p2{ padding:20px !important;}
.p3{ padding:30px !important;}
.p4{ padding:40px !important;}
.p5{ padding:50px !important;}
.p6{ padding:60px !important;}
.p7{ padding:70px !important;}
.p8{ padding:80px !important;}
.p9{ padding:90px !important;}
.pt1{ padding-top:10px !important;}
.pt2{ padding-top:20px !important;}
.pt3{ padding-top:30px !important;}
.pt4{ padding-top:40px !important;}
.pt5{ padding-top:50px !important;}
.pt6{ padding-top:60px !important;}
.pt7{ padding-top:70px !important;}
.pt8{ padding-top:80px !important;}
.pt9{ padding-top:90px !important;}
.pb1{ padding-bottom:10px !important;}
.pb2{ padding-bottom:20px !important;}
.pb3{ padding-bottom:30px !important;}
.pb4{ padding-bottom:40px !important;}
.pb5{ padding-bottom:50px !important;}
.pb6{ padding-bottom:60px !important;}
.pb7{ padding-bottom:70px !important;}
.pb8{ padding-bottom:80px !important;}
.pb9{ padding-bottom:90px !important;}

/* Margin */
.m1{margin: 10px !important;}
.m2{margin: 20px !important;}
.m3{margin: 30px !important;}
.m4{margin: 40px !important;}
.m5{margin: 50px !important;}
.m6{margin: 60px !important;}
.m7{margin: 70px !important;}
.m8{margin: 80px !important;}
.m9{margin: 90px !important;}
.mt1{margin-top: 10px !important;}
.mt2{margin-top: 20px !important;}
.mt3{margin-top: 30px !important;}
.mt4{margin-top: 40px !important;}
.mt5{margin-top: 50px !important;}
.mt6{margin-top: 60px !important;}
.mt7{margin-top: 70px !important;}
.mt8{margin-top: 80px !important;}
.mt9{margin-top: 90px !important;}
.mb1{margin-bottom: 10px !important;}
.mb2{margin-bottom: 20px !important;}
.mb3{margin-bottom: 30px !important;}
.mb4{margin-bottom: 40px !important;}
.mb5{margin-bottom: 50px !important;}
.mb6{margin-bottom: 60px !important;}
.mb7{margin-bottom: 70px !important;}
.mb8{margin-bottom: 80px !important;}
.mb9{margin-bottom: 90px !important;}



.card{
  border-radius: 3px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  padding:20px;
}
.center-title{
  display: block;
  text-align: center;
  font-size: 40px;
  margin-top: 100px;

}
@media all and (max-width:1000px)
{

  .container {
     width: 100%;
     padding-left:10px;
     padding-right:10px;
     max-width: 1200px;
     margin: 0 auto;
  }

  .row > .col1,
  .row > .col2,
  .row > .col3,
  .row > .col4,
  .row > .col5,
  .row > .col6,
  .row > .col7,
  .row > .col8,
  .row > .col9,
  .row > .col10,
  .row > .col11,
  .row > .col12{
    width: 100%;
  }

  .navbar{
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar a{
    padding-left: 10px;
    padding-right: 10px;
  }
  .modal-dialog{
    width: 100%;
    left:0;
    top:0;
    margin:auto;
    position: absolute;

  }

  .modal{
    overflow: auto;
  }
  .modal-dialog .modal-body .col6:last-child,
  .modal-dialog .modal-body .col6{
    border-radius: 0;
  }

  .sidebar .fa-close{
    display: block;
    z-index: 20;
  }
  .navbar .fa-bars{
    display: inline-block;
  }
  body{
    padding-left: 0px;
  }
  .sidebar{
    transform: translate3d(-270px,0,0);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .3);

  }
  .navbar .title-app{
    display: inline-block;
  }
  body.home .navbar .fa-bars{
    display: none;
  }
  .navbar a.profile strong,
  .navbar a.profile .email{
    display: none;
  }
  .navbar a.profile img{
    position: relative;
  }
  .navbar a.profile{
    padding-left: 0px;
  }

}
