
  <div class="modal-dialog login animated bounceIn">
    <div class="modal-content ">
      <div class="modal-body row">
          <div class="col6 text-light bg-blue">
            <div class="row">
                <h1 class="col12 nice-title">Login</h1>
                <strong class="col12 subtitle">It's cold outside... Come in!</strong>
                <div class="col12 feature"><i class="fa fa-magic" aria-hidden="true"></i> Easy Usage</div>
                <div class="col12 feature"><i class="fa fa-file-text-o" aria-hidden="true"></i> Documentation Focused</div>
                <div class="col12 feature"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download Ready</div>
                <div class="col12 feature"><i class="fa fa-smile-o" aria-hidden="true"></i> Yes! It's free</div>

            </div>


          </div>
          <div class="col6 vertical-align text-dark bg-light">
              <form method="POST" action="/account/login"   onsubmit="return app.sendForm(this,'login')">
                  <input type="email" required placeholder="Email" name="email" />
                  <input type="password" required placeholder="Password" name="password" />
                  <button type="submit" class="bg-blue text-light">Login</button>
                  <a href="#" class="link text-dark-light text-small onhover-text-bold">Forgot your password ?</a>
                  <a href="#" onclick="app.dialog.open('signup-form')" class="link text-dark-light text-small onhover-text-bold">Sign Up Free</a>
              </form>
          </div>
      </div>

  </div>
