
  <div class="modal-dialog animated bounceIn">
    <div class="modal-content">
      <div class="modal-header bg-light text-dark-light text-bold">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body login row">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="close">Close</button>
        <button type="button">Save changes</button>
      </div>
    </div>
  </div>
