
  <div class="modal-dialog login animated bounceIn">
    <div class="modal-content ">
      <div class="modal-body row">
          <div class="col6 text-light bg-blue">
            <div class="row">
                <h1 class="col12 nice-title">Recovery Account</h1>
                <strong class="col12 subtitle">How do I recover my account?</strong>
                <div class="col12 feature text-underline text-strong cursor-pointer" onclick="app.sendRecoveryCode(this)" title="Click here to send you the recovery code to your email account"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span >Get your recovery code</span></div>
                <div class="col12 feature"><i class="fa fa-eye" aria-hidden="true"></i> Check your email inbox</div>
                <div class="col12 feature"><i class="fa fa-check" aria-hidden="true"></i> Set your new password</div>
                <div class="col12 feature"><i class="fa fa-smile-o" aria-hidden="true"></i> Done!</div>


            </div>


          </div>
          <div class="col6 vertical-align text-dark bg-light">
              <form method="POST" action="/account/recovery"  id="frm-recovery" onsubmit="return app.sendForm(this,'recovery')">

                  <input type="email" class="animated" title="Your Email" required placeholder="Email" name="email" />
                  <input type="password" disabled required placeholder="New Password" name="password" />
                  <input type="password" disabled required placeholder="Repeat Password" name="passwordr" />
                  <input type="text" class="text-bold text-gray" pattern=".{8}"   disabled required  placeholder="Recovery Code" name="recovery" />
                  <button type="submit" disabled class="bg-blue text-light">Update Pasword</button>
              </form>
          </div>
      </div>

  </div>
