<div class="hero">
    <div class="container row">
      <h1 class="nice-title">The easiest way to document your API</h1>
      <div class="col8">
          <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</strong>
      </div>

    </div>
</div>

<div class="container">

    <div class="col12  text-orange">
          <span>{{message}}</span>
          lorem

    </div>


</div>
