<div class="hero">
    <div class="container row">
      <h1 class="nice-title">The easiest way to document your API</h1>
      <div class="col8">
          <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</strong>
          <div onclick="app.dialog.open('signup-form')" class="btn bg-white text-blue">
            Start Now!
          </div>
      </div>



    </div>
</div>

<div class="container features-home row text-center">

    <div class="col4 animated fadeInDown">
      <i class="fa  text-blue fa-file-text" aria-hidden="true"></i>
      <strong>Feature</strong> <strong class="text-blue">Lorem</strong>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
    </div>

    <div class="col4 animated fadeInDown">
      <i class="fa  text-blue fa-cloud-download" aria-hidden="true"></i>
      <strong>Feature</strong> <strong class="text-blue">Lorem</strong>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
    </div>
    <div class="col4 animated fadeInDown">
      <i class="fa  text-blue fa-magic" aria-hidden="true"></i>
      <strong>Feature</strong> <strong class="text-blue">Lorem</strong>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
    </div>


</div>

<div class="register-now text-center  text-blue">
  <div class="container">
    <h1 class="text-bold">{ ApiDoc }</h1>
    <h2>Labore et dolore magna aliqua. Ut enim ad minim veniam</h2>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
    <button onclick="app.dialog.open('signup-form')" class="btn bg-blue text-light">SIGN UP FREE</button>
  </div>
</div>

<div class="text-center footer text-white bg-dark-light">
  <div class="container row">
    <div class="col12 social">
      <a class="text-light" href="#"><i class="fa fa-facebook"></i></a>
      <a class="text-light" href="#"><i class="fa fa-twitter"></i></a>
      <a class="text-light" href="#"><i class="fa fa-google"></i></a>
    </div>
  </div>
</div>
